@import '/src/styles/tokens.scss';
// @use '/src/styles/tokens.scss';

.nav {
  content: map-get($merged, alternative);

  .nav_a {
    color: $blue;

    &:hover, 
    &:visited,
    &:active {
      color: $red;
    }
  }
}