$white: #fff;
$light: #ccc;
$dark: #000;
$gray: #555;
$red: red;
$blue: blue;

$colors: (
  light: $light,
  dark: $dark
);
 
$brand-colors: (
  main: $red,
  alternative: $blue
);

$merged: map-merge($colors, $brand-colors);

$validation: (
  error: ($red, $gray),
  success: ($blue, $white),
  warning: ($red, $white)
);



.panel_button {
  display: inline-block;
  padding: .5em;
  background: $light;
  color: $gray;
}